*, *::before, *::after{
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    margin: 0;
}
.main{
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form_input{
    width: 100%;
}
.form_label{
    display: block;
    margin-bottom: 10px;
}
.form_textarea{
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    background-color: #dde9e9;
    margin-bottom: 10px;   
}
.form_submit{
    background-color: #3cd0ff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: antiquewhite;
    cursor: pointer;
}
.form_submit:hover{
    background-color: #18c1e1;
}
.entry{
    margin-top: 15px;
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    padding-bottom: 1px;
}

.entry:last-child {
    border-bottom: none; /* Remove the bottom border from the last entry */
 }

.entry_title{
    display: inline;
    font-size: 18px;
}
.entry_date{
    color: #5c6b70;
    
}
.entry_content{
    font-size: 16px;
    line-height: 150%;
}
